<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        var stt = "000100.shop\n" +
            "000pure.com\n" +
            "000r.top\n" +
            "0011am.co\n" +
            "001clothing.com\n" +
            "001skincare.com\n" +
            "002.vybehammocks.com\n" +
            "0038x.de";
        stt = stt.split("\n");
        document.writeln(stt)
        document.writeln(stt[0])
        document.writeln("\n")
        var resultout  ;
        $(document).ready(function () {
            $('.ajaxbutton').click(function () {
                $.ajax({type:"GET",
                    url: "https://api.meetup.com/2/cities",
                    success: function(result){
                        // $(".text").text(JSON.stringify(result));
                         result = JSON.stringify(result)
                        if (JSON.stringify(result).length>0){
                               resultout = "https://api.meetup.com/2/cities" ;
                        }
                    },
                    dataType: 'jsonp',
                });
            })
        })

        document.write(resultout)
    </script>
</head>
<body>
<button type="button" class="ajaxbutton"> Click me!</button>
<div style="color: red" class="text"></div>
</body>
</html>
